POSTGRES_PASSWORD=change_me_strong_password
COOKIE_DOMAIN=.shadovx.me

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://auth.shadovx.me/oauth/callback/google

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=https://auth.shadovx.me/oauth/callback/github
